ALTER TABLE products MODIFY COLUMN image_path LONGTEXT;

ALTER TABLE hero_content MODIFY COLUMN trust_customers VARCHAR(500);
ALTER TABLE hero_content MODIFY COLUMN trust_customers_label VARCHAR(500);
ALTER TABLE hero_content MODIFY COLUMN trust_quality VARCHAR(500);
ALTER TABLE hero_content MODIFY COLUMN trust_quality_label VARCHAR(500);
